#svg-container {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". svg-container .";
	height: 100vh;

	@include md{
		grid-template-columns: auto 70% auto;
	}

	@include lg{
		grid-template-columns: auto 60% auto;
	}

	@include xl{
		grid-template-columns: auto 1200px auto;
	}
	>div {
		display: flex;
		align-items: center;
		
		grid-area: svg-container;

		svg{
			width: 100%;
		}
	}
}
